<h1> Link partials! </h1>
<h3>Add your bookmark, double click any field to edit</h3>
<label for="linkName">Link</label>
<input type="text" name="linkName" id="linkName" ng-model="bookmark.linkName" class="form-control">
<label for="linkUrl">Link Url</label>
<input type="text" name="linkUrl" id="linkUrl" ng-model="bookmark.linkUrl" class="form-control">
<label for="tags">Add Tags</label>
<input type="text" name="tags" id="tag" ng-model="bookmark.tags" class="form-control">

<button ng-click="addNewBookmark()" id="add">Add</button>

<ul class="linkList">
  <li ng-repeat="link in links">
    <span editable-text="link.linkName" onbeforesave="updateName($data, link._id)">{{link.linkName || empty}}</span>
    <span  editable-text="link.linkUrl" onbeforesave="updateUrl($data, link._id)">{{link.linkUrl || empty}}</span>
    <a href="{{link.linkUrl}}">Go to {{link.linkName}}</a>
    <button ng-click="addNewTag(link._id)">Add Tag</button>
    <button ng-click="deleteLink(link._id)">Delete Link</button>
    <ul>
      <li ng-repeat="tag in link.tags">{{tag}}</li>
    </ul>
  </li>
</ul>
</li>